*, *::after, *::before {
  box-sizing: border-box;

}

.page {
  /*display: flex;*/
  flex-wrap: wrap;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    /* Will set the horiontal allignment to center*/
  padding: 20px 0;
  max-height: 100px;

}

.description-section{
  padding: 10px 10px;
  background-color: #DADAD8;
}

.header-wrapper{
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.main-nav, .account-button, .shop-button{
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*margin-left: 20px;*/
}

.home-gallery-slider{
  display: flex;
  align-items: center;          /* Will set the vertical allignment to center*/
  justify-content: center;     /* Will set the horiontal allignment to center*/
  margin-top: 2em;
}
.banner-img{
  display: flex;
  align-items: center;
  max-width: 500px;
  max-height: 200px;
  padding: 10px;
  border: 2px solid black ;
}

.banner-img2{
  display: flex;
  align-items: center;
  max-width: 400px;
  max-height: 200px;
  padding: 10px;
  margin:2px;
  border: 2px solid black ;
}

.banner-ad{
  display: flex;
  align-items: center;          /* Will set the vertical allignment to center*/
  justify-content: center;     /* Will set the horiontal allignment to center*/
  margin-top: 2em;
}

.home-wrapper{
  display: flex;
  justify-content: center;

}

.home-products-wrapper{
  width: 900px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.home-products{
  border: 1px solid #fff;
  max-width: 300px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-right: 0;
  margin-left: 0;
}

.products-detail-wrapper{

  display: flex;
  width: 900px;
  /*justify-content: flex-start;*/
  /*flex-wrap: wrap;*/

}

.product-detail-description{
  background-color: rgb(239, 239, 239);
  min-width: 170px;
  padding-left: 10px;
  padding-right: 10px;

}

.home-products-text{
  border: 1px solid #fff;
  margin-top: 30px;
  width: 100%;
}


.footer-contents{
  display: flex;
  justify-content: space-between;
  flex: 1;                /*  stretch to match the width of footer */
  flex-wrap: wrap;
  justify-content: center;


}

.footer-Contact, .footer-info, .footer-address{
  background-color: #1a1b1c;
  flex: initial;
  width: 300px;
  flex-wrap: wrap;

}
/*---------------------------------------------------FAQ section*/
.faq-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  justify-content: center;
  background-color: #EAE8E8;
}

.faq-content-left{
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
	padding: 10px;


}

.faq-content-right{
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  padding: 10px;

}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    /*background-color: #F09A9D; /* Red */*/
  }
  .banner-ad, .banner-img, .banner-img2{
    display: none;
  }
  .products-detail-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-detail-description {
    min-width: 352px;
  }

  .home-products-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-products-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    /*background-color: #F5CF8E; /* Yellow */*/
  }

  .banner-ad, .banner-img, .banner-img2{
    display: none;
  }
  .home-products-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-products-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    /*background-color: #B2D6FF; /* Blue */*/

  }

}
