*, *::after, *::before {
  box-sizing: border-box;

}

.page {
  /*display: flex;*/
  flex-wrap: wrap;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    /* Will set the horiontal allignment to center*/
  padding: 20px 0;
}

.description-section{
  padding: 10px 10px;
  background-color: #DADAD8;
}

.header-wrapper{
  width: 900px;
  display: flex;
  /*justify-content: space-between;*/
}

.main-nav, .account-button, .shop-button{
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*margin-left: 20px;*/
}

.home-gallery-slider{
  display: flex;
  align-items: center;          /* Will set the vertical allignment to center*/
  justify-content: center;     /* Will set the horiontal allignment to center*/
  margin-top: 2em;
}

.home-wrapper{
  display: flex;
  justify-content: center;

}

.home-products-wrapper{
  width: 900px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.home-products{
  border: 1px solid #fff;
  width: 300px;
  /*height: 300px;*/
  padding: 10px;

}

.products-detail-wrapper{
  width: 900px;
  display: flex;
  /*justify-content: flex-start;*/
  flex-wrap: wrap;

}

.product-detail-description{
  /*border: 1px solid #fff;*/
  /*justify-content: flex-end;*/
  /*width: 300px;
  height: 300px;
  margin-left: 50%;*/


}

.home-products-text{
  border: 1px solid #fff;
  width: 100%;
}


.footer-contents{
  display: flex;
  justify-content: space-between;
  flex: 1;                /*  stretch to match the width of footer */
  flex-wrap: wrap;
  justify-content: center;


}

.footer-Contact, .footer-info, .footer-address{
  background-color: #1a1b1c;
  flex: initial;
  width: 300px;
  flex-wrap: wrap;

}
/*---------------------------------------------------FAQ section*/
.faq-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  justify-content: center;
  background-color: #EAE8E8;
}

.faq-content-left{
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
	padding: 10px;


}

.faq-content-right{
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  padding: 10px;

}
.product-detail-description{
    /*margin-left: 40%;*/
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    /*background-color: #F09A9D; /* Red */*/
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    /*background-color: #F5CF8E; /* Yellow */*/


  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    /*background-color: #B2D6FF; /* Blue */*/

  }

}
