.checkout-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}
.panel-body {
  flex: 1;
  border
}

.title {
  color: #2e2e2e;
  text-decoration: underline;
  text-decoration-color: #AD1D1D;
}

.progress-bar {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;

}

.step {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 30px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: #efefef;
}

.step:after {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 22px;
  width: 275px;
  height: 6px;
  content: '';
  background-color: #efefef;
}

.step:before {
  color: #2e2e2e;
  position: absolute;
  top: 40px;
}

.step:last-child:after {
  content: none;
}

.step.active {
  background-color: #AD1D1D;
}
.step.active:after {
  background-color: #AD1D1D;
}
.step.active:before {
  color: #AD1D1D;
}
.step.active + .step {
  background-color: #AD1D1D;
}
.step.active + .step:before {
  color: #AD1D1D;
}

.step:nth-child(1):before {
  content: 'Product';
}
.step:nth-child(2):before {
  /*right: -40px;*/
  content: 'Checkout';
}
.step:nth-child(3):before {
  /*right: -30px;*/
  content: 'Payment';
}
.step:nth-child(4):before {
  right: 0;
  content: 'Confirmation';
}

.payment-method {
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
  justify-content: space-between;
}

.method {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 150px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(230, 237, 241);
  justify-content: center;
  align-items: center;
}

.card-logos {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.radio-input {
  margin-top: 20px;
}

input[type='radio'] {
  display: inline-block;
  transform: scale(2);
  margin-top: 20px;
}

.input-fields {
  display: flex;
  justify-content: space-between;
}

.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #b4b4b4;
}

.info {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 50px;
  opacity: .5;
  color: #2e2e2e;
}

div[class*='column'] {
  width: 382px;
}

input[type='text'],
input[type='password'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, .8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}

input[type='text']:focus,
input[type='password']:focus {
border-color: rgb(119, 219, 119);
}

input[type='text'],
input[type='email'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, .8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}

input[type='text']:focus,
input[type='email']:focus {
border-color: rgb(119, 219, 119);
}

.small-inputs {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.small-inputs div {
  width: 182px;
}

.panel-footer {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(230, 237, 241);
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 16px;
  width: 163px;
  height: 48px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
}

.back-btn {
  color: #AD1D1D;
  background: #fff;
}

.next-btn {
  color: #fff;
  background: #AD1D1D;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(1.1);
}

.blue-border {
  border: 1px solid rgb(110, 178, 251);
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .input-fields {
    display: block;
    justify-content: space-between;
  }
  .payment-method {
    display: block;
    margin-bottom: 60px;
    margin-top: 60px;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 400px) {
  .input-fields {
    display: block;
    justify-content: space-between;
  }
  .payment-method {
    display: block;
    margin-bottom: 60px;
    margin-top: 60px;
    justify-content: space-between;
  }
}
