/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 0.15em solid #333;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid #333;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */


.but-submit {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0f8db3;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.but-submit:hover, .but-submit:focus {
  background-color: #51bbdb;
}

.but-addToCart {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0f8db3;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.but-addToCart :hover, .but-addToCart :focus {
  background-color: #51bbdb;
}

.nav-bar{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0f8db3;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.nav-bar:hover, .nav-bar:focus {
  background-color: #51bbdb;
}




/*
  TEXT ELEMENTS -------------------
*/
.in-text-link{
  display: inline-block;
  color: #000;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.in-text-link:hover, .in-text-link:focus {
  text-decoration: underline;
}

.text-input{
  font-size: 0.9em;
}

.header1{
  font-size: 1.4em;
  font-weight: 600;
}

.para{
  font-size: 0.9em;
  font-weight: 200;
}

.bullet-list{
  font-size: 0.9em;
}

.numbered-list{
  font-size: 0.9em;
}




/*
  COMBINED ELEMENTS -------------------
*/

.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0f8db3;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #51bbdb;
}


.product-listing{
  font-size: 0.9em;
}
