body {
	font-family: "Quan", Verdana, sans-serif;


}

h1 {
  margin-bottom: 0;

}

h2 {


}

h3 {
  text-decoration: underline;

}

h4{
  font-size: .7em;
}

ul {
  list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

div{
	background-size: contain;
}



a{
  color:rgba(255,255,255,0.6);
  text-decoration: none;
}

a:hover, a:focus{
  color:rgba(255,255,255,0.9);
  text-decoration: underline;

}

.main-header{
  background-color: #0f8db3;
}

.header-wrapper{


}

.main-nav{


}

.header-logo{



}

.shop-button{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0b5870;
  border-radius: 0.25em;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  text-align: center;
}

.shop-button:hover, .shop-button:focus {
  background-color: #3f95af;
}


.account-button{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0b5870;
  border-radius: 0.25em;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
text-align: center;
}

.account-button:hover, .account-button:focus {
  background-color: #3f95af;
}
.logo-img{
  max-width: 150px;
  max-height: 100px;

}

.home-gallery-slider{


}

.mySlides{
  max-width: 700px;
  max-height: 500px;

}

.home-wrapper{



}

.home-hr{
  margin-top: 0;
}


.home-products{


}

.products-img{
  /*width: 250px;*/
  height: 300px;



}

.footer-container{
  color: white;


}


.footer-contents{
  /*border: 1px solid #fff;*/
  background-color: #1a1b1c;
  /*height: 200px;*/


}


.footer-info{
  color: #FFF;

}


.footer-address{

}

#address{
  color:rgba(255,255,255,0.6);
}


.footer-Contact{


}

.show-more-button{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0b5870;
  border-radius: 0.25em;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  text-align: center;

}

.show-more-button:focus, .show-more-button:hover{
  background-color: #3f95af;
}

.add-to-cart{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0b5870;
  border-radius: 0.25em;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  text-align: center;

}

.add-to-cart:hover, .add-to-cart:focus{
  background-color: #3f95af;
}


.product-detail-wrapper{


}


.products-detail-detail{


}


.checkout-wrapper{


}


.checkout-checkout{


}


.confirm-wrapper{


}


.confirm-wrapper{


}


.confirm-confirm{


}


.pay-wrapper{


}


.pay-pay{


}
